:root{
      --principal: #9C27B0;
      --secundario: #89119D;
      --terciario: #FFCE00;
      --secundarioOscuro: rgb(233, 287, 2);
      --blanco: #FFFFFF;
      --negro: #000000;

      --fuente-principal: "Staatliches", sans-serif;
}